.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__header {
    margin: 50px 0 50px;
    text-align: center;
    width: 100%;
    position: relative;
}

.container__header__title {
    margin-bottom: 20px;
}

.container__priceTable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

@media (min-width: 1024px) {
    .container__priceTable {
        flex-direction: row;
    }
}
