.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: hsl(var(--nextui-background) / 0.7);
}

.container__Column {
    display: flex;
    flex-direction: column;
}
