.container {
    display: flex;
    justify-content: space-between;
    background: hsla(0, 0%, 100%, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
    margin-top: 100px;
    color: white;
}

.container__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.container__Column {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .container {
        padding: 40px 85px;
        margin-top: 20px;
    }
}
