.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.container__header {
    margin: 50px 0 50px;
    text-align: center;
    width: 100%;
    position: relative;
}

.container__header_span {
    background: linear-gradient(270.78deg, #ffa7a9 4.19%, #ff5ea3 96.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__header_subTitle {
    opacity: 0.75;
}
