.chartContainer {
    width: 100%;
    margin-top: 50px;
}

.chartContainer__chart {
    height: 400px;
    width: 100%;
}

.chartContainer__header__radio {
    display: flex;
    flex-direction: row;
    background: hsla(0, 0%, 100%, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px;
}

.chartContainer__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

.chartContainer__header__title {
    font-weight: 700;
}
