.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--foreground);
}

.container__content__percentageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container__percentageWrapper {
    display: flex;
    flex-direction: row;
    border: 3px solid var(--background1);
    width: 80%;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.container__content__text {
    padding: 20px;
}

@media (min-width: 1024px) {
    .container__content__percentageWrapper {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .container__content {
        display: flex;
        align-items: center;
    }

    .container__content__text {
        width: 40%;
        padding: 20px;
    }
}
