.container {
    padding: 20px;
    align-items: center;
}

.container__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.container__submitSection {
    width: 100%;
}

.submitButton {
    background: linear-gradient(103.39deg, #ffa0a9 15.17%, #ff60a4 59.61%);
    border-radius: 8px;
    color: var(--foreground) !important;
    font-size: 16px;
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        justify-content: space-evenly;
    }

    .container__submitSection {
        width: 30%;
    }

    .container__textContent {
        width: 50%;
    }
}
