.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container__header {
  margin: 50px 0 50px;
  text-align: center;
  width: 100%;
  position: relative;
}

.container__header__title {
  margin-bottom: 20px;
}
