.coinContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropDownTrigger__button__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.dropDownItems__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dropDownTrigger__button__content__symbol {
    color: var(--foreground);
    font-size: large;
}

.dropDownItems__container__text {
    color: var(--background);
}
